.inline-block {
  display: inline-block;
  vertical-align: top;
}

.navigation {
  display: block;
}

.navigation li {
  cursor: pointer;
}

.logo {
  padding: 5px;
  text-align: center;
}

.logo p {
  cursor: pointer;
}

nav {
  width: 73%;
  padding: 1%;
  float: left;
}

li {
  padding: 25px;
}

.heroImg {
  text-align: center;
  padding: 25px;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.content img {
  height: 400px;
  text-align: center;
}

.content button {
  color: white;
  background-color: black;
  border: none;
  padding: 19px 13px;
  border-radius: 20px;
}

.mySkills {
  text-align: center;
}

.flexContainer {
  display: flex;
  text-align: center;
}

.flexContainer div {
  width: 32%;
  margin: auto;
}

.myWork {
  text-align: center;
}

.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.workGrid div {
  text-align: center;
}

.workGrid div button {
  color: white;
  background-color: black;
  border: none;
  padding: 19px 13px;
  border-radius: 20px;
}

footer {
  background-color: #373738;
  padding: auto;
}

footer ul {
  display: inline-block;
  vertical-align: top;
  color: white;
  cursor: pointer;
}

.aboutContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 60% 1fr;
}

.aboutImage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
}

.aboutImage img {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
}

.resumeButton {
  color: white;
  background-color: black;
  border: none;
  padding: 19px 13px;
  border-radius: 20px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .flexContainer {
    flex-direction: column;
  }

  .flexContainer div {
    width: 100%;
  }

  .workGrid {
    grid-template-columns: 1fr;
  }

  .aboutContainer {
    grid-template-columns: 1fr;
  }
}